
<ion-header>
  <ion-navbar>
    <ion-title text-center>{{today}} ({{viewTitle}})</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addEvent()"> 
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

  <ng-template #template let-displayEvent="displayEvent">
    <ng-container *ngIf="displayEvent.event.weekly">
      <div class="calendar-event-inner weekly-event">
        <u>{{displayEvent.event.title}}</u>
        <p class="event-about">{{displayEvent.event.about}}</p>
      </div>
    </ng-container>
    <ng-container *ngIf="! displayEvent.event.weekly">
      <div class="calendar-event-inner">
        <u>{{displayEvent.event.title}}</u>
        <p class="event-about">{{displayEvent.event.about}}</p>
      </div>
    </ng-container>
  </ng-template>

  <calendar
    [eventSource]="termine"
    [dayviewNormalEventTemplate]="template"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    [queryMode]="calendar.queryMode" 
    (onRangeChanged)="onRangeChanged($event)"
    step="5"
    [timeInterval]="60"
    class="calendar">
  </calendar>

</ion-content>